{% load static %}
<div class="bg-black">
    <footer class="d-flex container flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <span class="mb-3 mb-md-0 text-white">© 2024 AUP Tech</span>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-info" href="https://github.com/AhmetUtkuPelen" target="_blank"><i class="fa-brands fa-github"></i></a></li>
        <li class="ms-3"><a class="text-info" href="https://www.linkedin.com/in/ahmet-utku-pelen-4941b820b/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
        <li class="ms-3"><a class="text-info" href="https://www.instagram.com/rngd_aup/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
      </ul>
    </footer>
  </div>